// Specific CSS for your home-page
body {
  background-color: #f8cb74;
}

.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.aloysius{
  display: flex;
  justify-content: center;
}

.my-title {
  background-color: #000;
  width: 100%;
  border-radius: 90px;
}
.my-title p {
  margin: 0 10px 0 10px;
  font-size: 3rem;
  color: #f8cb74;

}

.hon {
  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aloysius > *, .hon > * {
  font-size: 12rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.eyewhite {
  background-color: #fff;
  width: 100%;
  height: 10rem;
  position: relative;
  border-radius: 90px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.pupils {
  background-color: #000;
  width:11rem;
  height: 11rem;
  border-radius: 50%;
  position: absolute;
  margin: 0;
}

.about-header, .portfolio-header, .contact-header, .skills-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0 30px 0;
}

.about-text, .portfolio-text, .contact-text, .skills-text {
  font-size: 5rem;
}
.circle {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: #000;
}
