<main class="my-profile">
  <%# <header class="nav-container" id="home">
    <nav class="navbar">
      <ul class="nav">
        <li class="nav-item">
          <a href="#home" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="#about" class="nav-link">About Me</a>
        </li>
        <li class="nav-item">
          <a href="#portfolio" class="nav-link">Portfolio</a>
        </li>
        <li class="nav-item">
          <a href="#contact" class="nav-link">Contact</a>
        </li>
        <li class="nav-item">
          <a href="/Aloysiushon.pdf" class="nav-link" download="Aloysiushon.pdf">Resume</a>
        </li>
      </ul>
    </nav>
  </header> %>
  <header class="introduction">
    <section class="container first-name">
      <div class="aloysius">
        <h2>ALOYSIUS</h2>
      </div>
    </section>
        <div class="my-title">
          <p>Web Developer</p>
          <%# <p>Please<span data-controller="typed-js"></span></p> %>
        </div>
    <section class="container last-name">
      <div class="hon">
        <h2>H</h2>
        <div class="eye-container">
          <div class="eyewhite">
            <div class="pupils"></div>
          </div>
        </div>
        <h2>N</h2>
      </div>
    </section>
  </header>
  <section class="about container">
    <div class="about-header">
      <h2 class="about-text">AB</h2>
      <h2 class="circle">
        <p class="about-content hidden">
          Hello there,<br>
          <br>
          Recent grad passionate about web development after completing a full-stack bootcamp.<br>
          <br>
          Eager to bring a fresh perspective to the ever-evolving tech scene.
          Excited to embark on a journey of growth and innovation.<br>
          <br>
          Let's create something amazing together!
        </p>
      </h2>
      <h2 class="about-text">UT</h2>
    </div>
  </section>

  <section class="skills container">
    <div class="skills-header">
      <h2 class="skills-text">SKILLS</h2>
    </div>
  </section>
   <section class="portfolio container">
    <div class="portfolio-header">
      <h2 class="portfolio-text">PORTF</h2>
      <h2 class="circle"></h2>
      <h2 class="portfolio-text">LIO</h2>
    </div>
    <div class="portfolio-projects ">
      <div class="row">
        <div class="col-lg-4">
          <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
          <h2 class="fw-normal">Heading</h2>
          <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
          <p><a class="btn btn-secondary" href="#">View details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
          <h2 class="fw-normal">Heading</h2>
          <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
          <p><a class="btn btn-secondary" href="#">View details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
          <h2 class="fw-normal">Heading</h2>
          <p>And lastly this, the third column of representative placeholder content.</p>
          <p><a class="btn btn-secondary" href="#">View details »</a></p>
        </div><!-- /.col-lg-4 -->
      </div>
    </div>
  </section>

  <section class="contact container" id="contact">
    <div class="contact-header">
      <h2 class="contact-text">C</h2>
      <h2 class="circle"></h2>
      <h2 class="contact-text">NTACT</h2>
    </div>
  </section>
  <footer class="container">
    <div class="social-media container">
      <%= link_to 'https://www.google.com.sg/', target: '_blank' do %>
        <%= image_tag('github.svg', alt: 'Github Icon')  %>
      <% end %>
      <%= link_to 'https://www.google.com.sg/', target: '_blank' do %>
        <%= image_tag('linkedin.svg', alt: 'Linkedin Icon') %>
      <% end %>
    </div>
    <p class="footer-text">© Aloysius Hon 2023</p>
  </footer>
</main>
